nodered_zigbee2mqtt_flow.json
[{"id":"2572917bbf65071e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2bc241b3ad899c21","type":"mqtt in","z":"2572917bbf65071e","name":"","topic":"zigbee2mqtt/PortSaloonWindowFwd","qos":"2","datatype":"auto-detect","broker":"f457eb0bee144ec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":100,"wires":[["1b3d50e1237a655a"]]},{"id":"1b3d50e1237a655a","type":"change","z":"2572917bbf65071e","name":"extract contact payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.contact","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"zigbee.PortSaloonWindowFwd.state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["7149264e9bf32522"]]},{"id":"540780a60189ec87","type":"signalk-send-pathvalue","z":"2572917bbf65071e","name":"","source":"","meta":"","x":930,"y":160,"wires":[]},{"id":"7149264e9bf32522","type":"switch","z":"2572917bbf65071e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["81e165b797b40dc4"],["b10456304c8f1b0f"]]},{"id":"b10456304c8f1b0f","type":"change","z":"2572917bbf65071e","name":"False = 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["540780a60189ec87"]]},{"id":"81e165b797b40dc4","type":"change","z":"2572917bbf65071e","name":"True = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":140,"wires":[["540780a60189ec87"]]},{"id":"f457eb0bee144ec3","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]